In [55]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [56]:
data = pd.read_csv("titanic_data.csv")
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [57]:
data.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis = 'columns', inplace = True)
data.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  34.5   7.8292
1         1       3  female  47.0   7.0000
2         0       2    male  62.0   9.6875
3         0       3    male  27.0   8.6625
4         1       3  female  22.0  12.2875

In [58]:
X = data.drop('Survived',axis = 'columns')
Y = data.Survived

In [59]:
dummies = pd.get_dummies(X.Sex)
dummies.head(3)

   female  male
0       0     1
1       1     0
2       0     1

In [60]:
X = pd.concat([X,dummies], axis = 'columns')
X.head()

   Pclass     Sex   Age     Fare  female  male
0       3    male  34.5   7.8292       0     1
1       3  female  47.0   7.0000       1     0
2       2    male  62.0   9.6875       0     1
3       3    male  27.0   8.6625       0     1
4       3  female  22.0  12.2875       1     0

In [61]:
X.drop('Sex', axis='columns', inplace = True)
X.head(3)

   Pclass   Age    Fare  female  male
0       3  34.5  7.8292       0     1
1       3  47.0  7.0000       1     0
2       2  62.0  9.6875       0     1

In [62]:
X.columns[X.isna().any()]

Index(['Age', 'Fare'], dtype='object')

In [63]:
X.Age = X.Age.fillna(X.Age.mean())
X.head()

   Pclass   Age     Fare  female  male
0       3  34.5   7.8292       0     1
1       3  47.0   7.0000       1     0
2       2  62.0   9.6875       0     1
3       3  27.0   8.6625       0     1
4       3  22.0  12.2875       1     0

In [64]:
X.Fare = X.Fare.fillna(X.Fare.mean())
X.head()

   Pclass   Age     Fare  female  male
0       3  34.5   7.8292       0     1
1       3  47.0   7.0000       1     0
2       2  62.0   9.6875       0     1
3       3  27.0   8.6625       0     1
4       3  22.0  12.2875       1     0

In [65]:
from sklearn.model_selection import train_test_split
X_train, X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.3,random_state = 0)

In [66]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(X_train,Y_train)

GaussianNB()

In [67]:
model.score(X_test,Y_test)

1.0

In [68]:
Y_pred = model.predict(X_test)

In [70]:
from sklearn.metrics import accuracy_score
accuracy_score(Y_pred,Y_test)

1.0